Repository Villanueva-del-Trabuco-EGC/decide-part-2, pull requests merged in 2022-12, with the labels that each got.

#13 Añadidos nuevos test de selenium
  decide/visualizer/templates/visualizer/visualizer.html
  decide/voting/tests.py
  requirements.txt
Labels: tests, refactor

#15 Pequeño cambio para arreglar actions
  decide/visualizer/templates/visualizer/visualizer.html
Labels: bug

#16 Cambiados test de la visualización de votaciones
  decide/visualizer/tests.py
  decide/voting/tests.py
Labels: tests

#18 Importacion censo excel/juacabvil
  decide/census/views.py
  requirements.txt
Labels: desarrollo, refactor

#19 [Test] Creados tests básicos sobre voto con prioridad.
  decide/voting/tests.py
Labels: tests

#20 [Test] Añadidos tests de Selenium y de modelo.
  decide/visualizer/tests.py
  decide/voting/tests.py
Labels: tests

#21 Autenticacion por email/javmarjae
  .github/workflows/django.yml
  .github/workflows/docker.yml
  .github/workflows/releases_workflow.yml
  .gitignore
  decide/authentication/templates/template_activate_account.html
  decide/authentication/views.py
  decide/decide/settings.py
  docker/Dockerfile
  docker/docker-compose.yml
  requirements.txt
Labels: bug, desarrollo

#22 Autenticacion por email/javmarjae
  docker/Dockerfile
Labels: bug, desarrollo

#26 Importacion censo excel/juacabvil
  decide/census/templates/census/census.html
  decide/census/testfiles/voters.csv
  decide/census/testfiles/voters.txt
  decide/census/testfiles/voters.xlsx
  decide/census/tests.py
  decide/census/views.py
  docker/Dockerfile
  requirements.txt
Labels: enhancement, tests, refactor

#27 [REFACTOR]Limpieza de código recomendado por Codacy
  decide/census/tests.py
  decide/visualizer/tests.py
  decide/voting/models.py
  decide/voting/tests.py
Labels: refactor
